.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    gap: 3% 0px;
    justify-items: center;
    grid-template-areas:
      "icone titre "
      "photo-infir photo-infir"
      "contact contact ";
  }
  .icone { 
      grid-area: icone; 
    }
  .titre { 
      grid-area: titre;
      place-self: center; 
    }
  .photo-infir { 
      grid-area: photo-infir;
      display: flex; 
    }
  .contact { 
      grid-area: contact;
      place-self: center; 
      margin-bottom: 5%;
    }
  
  @media screen and (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 20% 50% 30%;
        grid-template-rows: 0.5fr auto;
        gap: 5% 0px;
        grid-template-areas:
          "icone titre contact"
          "photo-infir photo-infir photo-infir";
      }
      .icone { grid-area: icone; }
      .titre { grid-area: titre; }
      .contact { grid-area: contact; }  
      .photo-infir { grid-area: photo-infir;
      width: 100%;
      display: flex;
      margin-bottom: 5%;
     } 
    }

