.grid-container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 0.5fr auto;
    gap: 3% 0px;
    grid-template-areas:
      "icone titre contact"
      "entree entree entree";
  }
  
  .icone { 
      grid-area: icone;
      place-self: center;
      display: flex;
      width: 100%;
      height: 200px;
    }
  .titre { 
      grid-area: titre;
      place-self: center; 
    }
  .entree {
      grid-area: entree;
      place-self: center;
    }
  .contact { 
      grid-area: contact;
      place-self: center; 
      margin-bottom: 5%;
      display: flex;
      flex-direction: column;
    }
  

    @media screen and (max-width: 992px) {
      .grid-container {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 0.5fr auto 0.5fr;
        gap: 3% 0px;
        justify-items: center;
        grid-template-areas:
          "icone titre "
          "entree entree"
          "contact contact ";
    }
  }
