.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 0.5fr auto 0.5fr;
    gap: 3% 0px;
    justify-items: center;
    grid-template-areas:
      "icone titre "
      "entree entree"
      "contact contact ";
  }
  .icone { 
      grid-area: icone;
      place-self: center; 
    }
  .titre { 
      grid-area: titre;
      place-self: center; 
    }
  .entree {
      grid-area: entree;
      place-self: center;
    }
  .contact { 
      grid-area: contact;
      place-self: center; 
      margin-bottom: 5%;
    }
  
  @media screen and (min-width: 992px) {
    .grid-container {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 0.5fr auto;
        gap: 3% 0px;
        grid-template-areas:
          "icone titre contact"
          "entree entree entree";
      }
      .icone { grid-area: icone; }
      .titre { grid-area: titre; }
      .contact { grid-area: contact; }  
      .entree { grid-area: entree;
     } 
    }

