@font-face {
    font-family: "futura";
    src: url("../font/futur.ttf") format("truetype");
    src: url("../font/Futura\ Bold\ font.ttf") format("truetype");
    src: url("../font/futura\ medium\ bt.ttf") format("truetype")
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'futura';
    color: #303030;
    font-size: 16px; 
    padding: 0;
    margin: 0;
}
.container {
    position: relative;
    margin-top: 100px;
}

h1, h3, .phone {
    color: #96b6ba;
}
h2 {
    color: #d63230;
}
h1, h2 { 
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin-left: 2%;
}




 @media screen and (min-width: 900px) {
    body {
        width: 60vw;
        margin: auto;
        border: 2px;
        font-size: 24px;
    } 
    
    
    h1, h2 {
        font-size: 48px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    .pcr p {
        font-size: 36px ;
    }
    
} 
