body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 16px;  
}


h1, h3, .telephone {
    color: #2d9cdb;
}



h1, h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.contact a {
    text-decoration: none;
    margin-top: 2%;
}

h3,.telephone, .navbar-brand {
    font-size: 24px;
    font-weight: bold;
}


.adresse {
    font-size: 18px;
    color: black;
}

.adresse p {
    margin-left: 2%;
   
}

.pcr p {
    margin: auto;
    text-align: center;
}

.pcr {
    margin-bottom: 5%;
}
.pcr img {
    width: 50%;
} 

.plan img {
    width: 100%;
}

.entree img {
    width: 100%;
}



@media screen and (min-width: 992px) {
    body {
        width: 60vw !important;
        margin: auto;
        border: 2px;
        font-size: 24px;
    }
    
    nav {
        width: 60vw !important;
        margin: auto; 
    }
    
    h1, h2 {
        font-size: 48px;
    }
    
    h3, .telephone {
        font-size: 36px;
    }
    .nav-link {
        font-size: 24px;
    }
    
    .pcr p {
        font-size: 36px ;
    }
    
   .adresse {
        font-size: 26px;
    }
}
